body {
    background-color: red;
}

.small {
    display: block;
}

.medium {
    display: none;
}

.large {
    display: none;
}

@media only screen and (min-width: 500px) {
    body {
        background-color: green;
    }

    .small {
        display: none;
    }

    .medium {
        display: block;
    }

    .large {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
    }

    .small {
        display: none;
    }

    .medium {
        display: none;
    }

    .large {
        display: block
    }
}
