body {
    background-color: #f45f5f;
}

.small {
    width: 100%;
}

.medium {
    width: 100%;
}

.large {
    width: 100%;
}

.small,
.medium,
.large {
    text-align: justify;
}
h1 {
    text-align: left;
    font-size: 1.5em;
}

@media only screen and (min-width: 300px) {
    body {
        background-color: #b6fc9c;
    }

    .small {
        width: 45%;
        float: left;
    }

    .medium {
        width: 45%;
        float: left;
        margin-left: 5%;

    }

    .large {
        width: 100%;
        float: left;
    }

    h1 {
        font-size: 1.5em;
        text-align: left;
    }

    .small,
    .medium,
    .large {
        text-align: justify;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: #a0b9f7;
    }

    .small {
        width: 30%;
        float: left;
        mar
    }

    .medium {
        width: 30%;
        float: left;
        margin-left: 5%;
    }

    .large {
        width: 30%;
        float: left;
        margin-left: 5%;
    }

    h1 {
        font-size: 1.5em;
        text-align: left;
    }

    .small,
    .medium,
    .large {
        text-align: justify;
    }
}
